<%= render 'layouts/navber' %>
<%= render 'layouts/content_error' %>
<div class="container my-5">
  <%= form_with model:@content, local:true do |f| %>
    <%= f.label :img, "File", class: "image_input_btn" %>
    <%= f.file_field :img, class: "image image_form" %><br>
    <%= f.label :tag %>
    <%= f.text_field :tag_names, value: @content_tags, placeholder:",で区切ってください" %><br>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
    <%= f.submit t("dictionary.button.update")%>
  <%end%>
<%= link_to t("dictionary.button.delete"), content_path(@content), method: :delete %>
</div>
