<%= render 'layouts/navber' %>
<% if flash[:alert] %>
  <% flash.each do |alert, message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="containar my-5">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-auto shadow-lg my-5">
      <h5 class="form-title bg-light p-4">画像投稿フォーム</h5>
      <div class="form-body p-4">
        <%= form_with model:@content, local:true do |f| %>
          <%= f.label :img %><br>
          <%= f.file_field :img %><br>
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control mb-3" %>
          <%= f.label :introduction %>
          <%= f.text_area :introduction, class: "form-control mb-3" %>
          <hr>
          <%= f.label :tag %><%= "　　"%><%= t("dictionary.sentence.example") %><br>
          <%= f.text_field :tag_names, placeholder: t("dictionary.sentence.separate_with_spaces") %>
        <%= f.submit t("dictionary.button.create"), class: "btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>