<%= render 'layouts/searchnav' %>
<div class= "tags">
  タグ一覧
  <% @tags.each do |tag| %>
    <%= link_to category_path(tag) do %>
    <span class="badge badge-pill badge-dark">
      <%= tag.tag_name %>
    </span>
    <% end %>
  <% end %>
</div>
<% @contents.each do |content| %>
<div>
  <%= link_to content_path(content) do %>
    <%= image_tag content.img.url%>
  <% end %>
  <%= content.title%>
  <%= content.introduction%>
</div>
<% end %>