<%= render 'layouts/navber' %>
<div class="container my-5">
  <div class="row">

    <div class="col">
      <div>
        <% if current_user.admin %>
          <%= link_to "編集", edit_content_path(@content) %>
        <% end %>
        <div class= "img-spase">
          <%= image_tag @content.img.to_s, class: 'img'%>
        </div>
      </div>
      <div class="mx-3 my-4">
        <%= @content.created_at %>
        <% @content_tags.each do |tag| %>
        <span class="badge badge-pill badge-dark">
          <%= tag.tag_name %>
        </span>
        <% end %>
        <hr>
        <h4><%= @content.title%></h4>
        <%= @content.introduction %>
        <hr>
        <div class="d-flex">
          <div class="mr-3">
            <% if @user.profile_image? %>
              <%= image_tag @user.profile_image.url, class:'icon' %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: "icon" %>
            <% end %>
            <%= @user.name %>
          </div>
          <div class="mx-3 mt-1">
            <% if user_signed_in? && !current_user&.admin %>
              <%= render 'relationships/follow_button', user: @user %>
            <% end %>
          </div>
          <div class="mx-3 mt-2">
            <%= t ("dictionary.words.comment") %>：<%= @content.comments.count %>
          </div>
          <div class="mx-3 mt-2">
            <% if @content.liked_by?(current_user) %>
              <p>
                <%= link_to "♥", content_likes_path(@content), method: :delete, class: "edit-link" %>
                <%= @content.likes.count %>
              </p>
            <% else %>
              <p>
                <%= link_to "♥", content_likes_path(@content), method: :post, class: "edit-link" %>
                <%= @content.likes.count %>
              </p>
            <% end %>
          </div>
          <div class="link-color mx-3 mt-2">
            <% if @user == current_user %>
              <%= link_to t("dictionary.words.edit"), edit_content_path(@content) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col sidebar">
      <div>
        <%= form_with model:[@content, @comment], local: true do |f| %>
          <%= f.text_area :comment, placeholder: "コメントを入力", class: "form-control" %>
          <%= f.submit t("dictionary.button.send"), class: "btn btn-block btn-info mt-4" %>
        <% end %>
      </div>
      <table class="table mt-3">
        <% @content.comments.each do |comment| %>
        <tbody>
          <tr>
            <th>
              <%= comment.user.name %>
              <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %><br />
            </th>
            <td>
              <% if comment.user == current_user %>
                <%= link_to "削除", content_comment_path(@content, comment), method: :delete %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>