<%= render 'layouts/navber' %>
<div class="container my-5">
  <div class="row">

    <div class="col">
      <div class= "img-spase">
        <%= image_tag @content.img.url, class: "img" %>
      </div>
      <div class="mx-3 my-4">
        <%= @content.created_at %>
        <% @content.categories.each do |tag| %>
        <span class="badge badge-pill badge-dark ml-2">
          <%= tag.tag_name %>
        </span>
        <% end %>
        <hr>
        <h4><%= @content.title%></h4>
        <%= @content.introduction %>
        <hr>
        <div class="d-flex">
          <div class="mr-3">
            <% if @user.profile_image? %>
              <%= image_tag @user.profile_image.url, class: "icon" %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: "icon" %>
            <% end %>
            <%= @user.name %>
          </div>
          <div class="mx-3 mt-1">
            <% if user_signed_in? && !current_user&.admin %>
              <%= render 'relationships/follow_button', user: @user %>
            <% end %>
          </div>
          <div class="mx-3 mt-2">
            <%= t ("dictionary.words.comment") %>：<%= @content.comments.count %>
          </div>
          <div class="mx-3 mt-2">
            <% if @content.liked_by?(current_user) %>
              <p>
                <%= link_to "♥", content_likes_path(@content), method: :delete, class: "edit-link" %>
                <%= @content.likes.count %>
              </p>
            <% else %>
              <p>
                <%= link_to "♥", content_likes_path(@content), method: :post, class: "edit-link" %>
                <%= @content.likes.count %>
              </p>
            <% end %>
          </div>

<%
=begin
%>
          アルバムに追加する
          <div class="far fa-plus-square mx-3 mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu">
              <div class="ml-2 mt-1">
                アルバムに追加する
              </div>
              <hr>
            アルバム名を選択して、追加する
              <% @albums.each do |album| %>
              <div class="dropdown-item">
                　<%= album.album_name %>
              </div>
              <% end %>
            </div>
          </div>
<%
=end
%>

          <div class="link-color mx-3 mt-2">
            <% if @user == current_user %>
              <%= link_to t("dictionary.words.edit"), edit_content_path(@content) %>
            <% end %>
          </div>
          <div>
            <% if current_user.admin %>
              <%= link_to t("dictionary.button.delete"), content_path(@content), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"}, class: "btn btn-danger mr-5" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col sidebar">
      <div>
        <%= form_with model:[@content, @comment], local: true do |f| %>
          <%= f.text_area :comment, placeholder: t("dictionary.words.enter_a_comment"), class: "form-control" %>
          <%= f.submit t("dictionary.button.send"), class: "btn btn-block btn-info mt-4" %>
        <% end %>
      </div>
      <table class="table mt-3">
        <% @content.comments.each do |comment| %>
        <tbody>
          <tr>
            <th>
              <% if comment.user.profile_image? %>
                <%= image_tag comment.user.profile_image.url, class: "icon" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "icon" %>
              <% end %>
            </th>
            <td>
              <div class="text-secondary">
                <%= comment.user.name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              </div>
              <%= comment.comment %>
            </td>
            <td>
              <% if comment.user == current_user %>
                <%= link_to "削除", content_comment_path(@content, comment), method: :delete %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>