<%= render 'layouts/navber' %>

<div class="container my-5">
  <h1 class="font"><%= t("dictionary.words.edit") %></h1>
  <% if flash[:alert] %>
    <% flash.each do |alert, message| %>
      <div class="alert alert-danger mx-5 mt-5">
        <% message2 = message.gsub(",","<br>") %>
        <%= message2.html_safe %>
      </div>
    <% end %>
  <% end %>
  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
    <div class="field mt-4">
      <%if current_user.admin? %>
        <% if current_user.profile_image? %>
          <%= image_tag current_user.profile_image.url, class: "icon my-3" %>
        <% else %>
          <%= image_tag 'no_image.jpg', class: "icon my-3" %>
        <% end %>
        <%= f.label :profile_image, "File", class: "image_input_btn" %><br />
        <%= f.file_field :profile_image, class: "image_form w-50 mb-3" %><br />
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "mb-3" %><br />
        <%= f.label :self_introduction %><br />
        <%= f.text_area :self_introduction, class: "mb-3" %><br />
      <% end %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="actions">
      <%= f.submit t("dictionary.button.update"), class: "btn btn-success my-3"%>
    </div>
  <% end %>

  <hr>

  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field">
      <%= f.label :new_password %><span class="text-secondary">：<%= t("dictionary.sentence.leave_blank_if_not_changed") %></span>
      <% if @minimum_password_length %>
        <br />
        <em class="text-secondary"><%= @minimum_password_length %> 文字以上</em>
      <% end %><br>
      <%= f.password_field :password, autocomplete: "new-password",class: "mb-3" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "mb-3" %>
    </div>
    <div class="field">
      <%= f.label :current_password %><span class="text-secondary">：<%= t("dictionary.sentence.please_enter_your_current_password_to_change") %></span><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
    <div class="actions">
      <%= f.submit t("dictionary.button.update"), class: "btn btn-success my-3"%>
    </div>
  <% end %>

  <%= link_to t("dictionary.words.withdraw"), users_withdraw_path(current_user), method: :patch, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-danger" %>
</div>