<%= render 'layouts/navber' %>
<div class="container my-5">
  <h1 class="font"><%= t("dictionary.words.history") %></h1>
  <div class="d-flex">
    <div class="row">
    <% @contents.each do |content| %>
      <div class="col">
        <div class="card card-size mx-3 my-5 shadow-lg">
          <div class="imgs-spase">
            <%= link_to content_path(content) do %>
              <%= image_tag content.img.url, class: "card-img-trim" %>
            <% end %>
          </div>
          <div class="card-body">
            <%= content.title.truncate(10) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>