<%= render 'layouts/navber' %>
<div class="container my-5">
  <div class="d-flex">
    <div class="row">
    <% @likes.each do |like| %>
      <div class="col">
        <div class="card card-size mx-3 my-5 shadow-lg">
          <div class="imgs-spase">
            <%= link_to content_path(like.content) do %>
              <%= image_tag like.content.img.url, class: "card-img-trim" %>
            <% end %>
          </div>
          <div class="card-body">
            <% if like.content.user.profile_image? %>
              <%= image_tag like.content.user.profile_image.url, class:"icon" %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: "icon" %>
            <% end %>
            <%= like.content.title.truncate(10) %><br>
            <%= like.content.user.name %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>