<%= render 'layouts/navber' %>
<div class="container my-5">
    <h2><%= t("dictionary.words.mypage") %></h2>
    <% if @user.profile_image? %>
        <%= image_tag @user.profile_image.url, class: 'icon' %>
    <% else %>
        <image src="/assets/no_image.jpg" class="icon" %>
    <% end %>
    <%= @user.name %>
    <%= @user.self_introduction %>
    <% if @user == current_user %>
        <%= link_to t("dictionary.words.edit"), edit_user_path(current_user), class: 'btn btn-success' %>
    <% else %>
        <%= link_to "アカウントを削除する", adminwithdraw_path(@user), method: :patch, data: {confirm: "会員のアカウントです。本当に削除しますか？"}, class: "btn btn-danger" %>
    <% end %>
    <%= @contents_quantity %>
    <%= link_to t("dictionary.words.post"), user_contents_path(@user) %>
    <% if @user == current_user %>
        <%= @follow_quantity %>
        <%= link_to t("dictionary.words.follow"), followings_user_path %>
        <%= link_to t("dictionary.words.album"), albums_path %>
    <% end %>
</div>

