<%= render 'layouts/navber' %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t("dictionary.words.user_edit") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model:@user, url:user_path, local:true do |f| %>
      <div class="modal-body">
        <% if @user.profile_image? %>
          <%= image_tag @user.profile_image.url, class: "icon" %>
        <% else %>
          <%= image_tag 'no_image.jpg', class: "icon" %>
        <% end %>
        <%= f.label :profile_image %><br>
        <%= f.file_field :profile_image, class: "my-3" %><br>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control mb-3" %>
        <%= f.label :self_introduction %>
        <%= f.text_area :self_introduction, class: "form-control" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="col-2 btn btn-secondary mr-5" data-dismiss="modal">Close</button>
        <%= f.submit t("dictionary.button.save"), class: "col-8 btn btn-block btn-info" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <h1 class="font"><%= t("dictionary.words.mypage") %></h1>
    <% if @user == current_user %>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#exampleModal">
        <%= t("dictionary.words.edit") %>
      </button>
    <% end %>
  </div>
  <div class="row my-5">
    <% if @user.profile_image? %>
      <%= image_tag @user.profile_image.url, class: "icon" %>
    <% else %>
      <%= image_tag 'no_image.jpg', class: "icon" %>
    <% end %>
    <div class="col-md-5 col-sm-7">
      <h4><%= @user.name %></h4>
    </div>
    <div class="col-md-6 col-sm-10">
      <h5>
      <table>
        <tr>
          <th>
            <h3 class="font">
              <%= @contents_quantity %>
              <%= link_to t("dictionary.words.post"), user_contents_path(@user), class: "link mr-5" %>
            </h3>
          </th>
          <th>
            <h3 class="font">
              <%= link_to t("dictionary.words.album"), albums_path, class: "link mr-5" %>
            </h3>
          </th>
          <th>
          <div class="dropdown">
            <h3 class="nav-link dropdown-toggle col font" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @follow_quantity %><%= t("dictionary.words.follow") %>
            </h3>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% @followings.each do |user| %>
                <% if user.profile_image? %>
                  <%= image_tag user.profile_image.url, class: "icon" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', class: "icon" %>
                <% end %>
                <%= link_to user_contents_path(user) do %>
                  <%= user.name %>
                <% end %>
              <% end %>
            </div>
          </div>
          </th>
        </tr>
      </table>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5><%= @user.self_introduction %></h5>
    </div>
  </div>
</div>