<%= render 'layouts/navber' %>
<div class="container my-5">
  <%= link_to new_content_album_path do %>
    <i class="fas fa-folder-plus fas-album ml-4"></i>
  <% end %>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th><%= t("dictionary.words.album") %></th>
        <th><%= t("dictionary.words.photo_inside") %></th>
      </tr>
      <% @albums.each do |album| %>
      <tr>
        <th>
          <%= link_to album_path(album) do %>
            <%= album.album_name %>
          <% end %>
        </th>
        <th>
          <%= album.content_albums.count %>
        </th>
      </tr>
      <% end %>
    </thead>
  </table>
</div>
