<% @contents.each do |content| %>
  <div class="col-md-12 col-lg-4">
    <div class="card card-size mx-3 my-5 shadow-lg">
      <div class="imgs-spase">
        <%= link_to content_path(content) do %>
          <%= image_tag content.img.url, class: "card-img-trim" %>
        <% end %>
      </div>
      <div class="card-body">
        <% if content.user.profile_image? %>
          <%= image_tag content.user.profile_image.url, class: "icon" %>
        <% else %>
          <%= image_tag 'no_image.jpg', class: "icon" %>
        <% end %>
        <%= content.title.truncate(10) %><br>
        <%= content.user.name %>
      </div>
    </div>
  </div>
<% end %>